{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{%block page_content %}
    <h1>Hello!</h1>
    <p> Please fill out the form </p>

    {{ wtf.quick_form(form) }}

{% endblock %}

{%block scripts %}
{{ super() }}
<script charset="utf-8" type="text/javascript">
//TODO: Correct ugly-ass double function
 $(function(){
     var dropdown = {
         grade: $("#select_grade"),
         workshop: $("#select_workshop"),
         table: $("#select_table")
     };

     update_workshop();
     update_table();

     function update_table(){
         var send = {
             grade: dropdown.grade.val()
         };
         dropdown.table.attr("disabled", "disabled");
         dropdown.table.empty();

         $.getJSON("{{ url_for('_get_tables')  }}", send, function(data){
             data.forEach(function(item){
                 dropdown.table.append(
                         $("<option>", {
                             value: item[0],
                             text: item[1]
                         })
                 );
             });
             dropdown.table.removeAttr("disabled");
         });
     }

     function update_workshop(){
         var send = {
             grade: dropdown.grade.val()
         };
         dropdown.workshop.attr("disabled", "disabled");
         dropdown.workshop.empty();

         $.getJSON("{{ url_for('_get_workshops')  }}", send, function(data){
             data.forEach(function(item){
                 dropdown.workshop.append(
                         $("<option>", {
                             value: item[0],
                             text: item[1]
                         })
                 );
             });
             dropdown.workshop.removeAttr("disabled");
         });
     }

     dropdown.grade.on("change", function(){
         update_workshop();
         update_table();
     });
 });
</script>
{% endblock %}
